version: '3.4'

x-labels:
  &default-labels
  org.supernetworks.ci: ${CI:-false}
  org.supernetworks.version: ${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}

x-logging:
  &default-logging
  driver: journald
# For MacOS:
#  options:
#    max-size: '12m'
#    max-file: '5'
#  driver: json-file


services:
  base:
    container_name: superbase
    image: ghcr.io/spr-networks/super_base:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: base
      labels: *default-labels
    privileged: true
    ports:
      - "51280:51280/udp"
      - "127.0.0.1:5353:53"
      - "127.0.0.1:8000:80"
      - "127.0.0.1:4443:443"
    logging: *default-logging
    volumes:
      - ${PWD}/configs/base/:/configs/base/
      - ${PWD}/state/base/:/state/base/
  superd:
    container_name: superd
    image: ghcr.io/spr-networks/super_superd:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: superd
      labels: *default-labels
    privileged: true
    logging: *default-logging
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${PWD}/configs/base/:/configs/base/
      - ${PWD}/state/api/:/state/api/
      - ${PWD}/:/super/
  dhcp:
    container_name: superdhcp
    image: ghcr.io/spr-networks/super_dhcp:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: dhcp
      labels: *default-labels
    network_mode: service:base
    depends_on:
      - "base"
    logging: *default-logging
    volumes:
      - ${PWD}/configs/base/:/configs/base/:ro
      - ${PWD}/configs/dhcp/:/configs/dhcp/
      - ${PWD}/state/dhcp/:/state/dhcp/
      - ${PWD}/state/plugins/mesh/:/state/plugins/mesh/:ro
      - /sys/fs/bpf:/sys/fs/bpf
  dns:
    container_name: superdns
    image: ghcr.io/spr-networks/super_dns:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: dns
      labels: *default-labels
    network_mode: service:base
    logging: *default-logging
    depends_on:
      - "base"
    volumes:
      - ${PWD}/configs/dns/:/configs/dns/
      - ${PWD}/state/api/:/state/api/
      - ${PWD}/state/dns/:/state/dns/
      - ${PWD}/state/public/:/state/public/:ro
      - ${PWD}/state/plugins/mesh/:/state/plugins/mesh/:ro
  multicast_udp_proxy:
    container_name: super_multicast_udp_proxy
    image: ghcr.io/spr-networks/super_multicast_udp_proxy:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: multicast_udp_proxy
      labels: *default-labels
    network_mode: service:base
    depends_on:
      - "base"
    logging: *default-logging
    volumes:
      - ${PWD}/configs/base/:/configs/base/:ro
      - ${PWD}/state/public/:/state/public/:ro
      - ${PWD}/state/plugins/mesh/:/state/plugins/mesh/:ro
  wireguard:
    container_name: superwireguard
    image: ghcr.io/spr-networks/super_wireguard:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: wireguard
      labels: *default-labels
    network_mode: service:base
    cap_add:
      - net_admin
      - sys_module
    depends_on:
      - "base"
      - "dhcp"
      - "api"
    logging: *default-logging
    volumes:
      - ${PWD}/configs/base/:/configs/base/:ro
      - ${PWD}/configs/wireguard/:/configs/wireguard/
      - ${PWD}/state/plugins/wireguard/:/state/plugins/wireguard/
      - ${PWD}/state/dhcp/:/state/dhcp/
      - ${PWD}/state/plugins/mesh/:/state/plugins/mesh/:ro
  frontend:
    container_name: superfrontend
    image: ghcr.io/spr-networks/super_frontend:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    entrypoint: ["cp", "-RT", "/app/build/", "/frontend/build"]
    build:
      context: frontend
      labels: *default-labels
    network_mode: none
    volumes:
      - ${PWD}/frontend/:/frontend
  api:
    container_name: superapi
    image: ghcr.io/spr-networks/super_api:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: api
      labels: *default-labels
    network_mode: service:base
    cap_add:
      - net_admin
    restart: always
    depends_on:
      - "base"
      - "frontend"
      - "superd"
    logging: *default-logging
    volumes:
      - ${PWD}/configs/auth/:/configs/auth/
      - ${PWD}/configs/base/:/configs/base/
      - ${PWD}/configs/devices/:/configs/devices/
      - ${PWD}/configs/dns:/configs/dns/
      - ${PWD}/configs/plugins/:/configs/plugins/
      - ${PWD}/configs/ppp:/configs/ppp/
      - ${PWD}/configs/wifi/:/configs/wifi/
      - ${PWD}/configs/wifi_uplink/:/configs/wifi_uplink/
      - ${PWD}/configs/wireguard/:/configs/wireguard/
      - ${PWD}/configs/scripts/:/configs/scripts/
      - ${PWD}/configs/pfw/:/configs/pfw/
      - ${PWD}/state/wifi/:/state/wifi/
      - ${PWD}/state/dhcp/:/state/dhcp/
      - ${PWD}/state/dns/:/state/dns/
      - ${PWD}/state/api/:/state/api/
      - ${PWD}/state/backups/:/state/backups/
      - ${PWD}/state/base/:/state/base/
      - ${PWD}/state/plugins/:/state/plugins/
      - ${PWD}/state/public/:/state/public/
      - ${PWD}/frontend/build:/ui/
      - /var/log/journal:/var/log/journal:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
  plugin-lookup:
    container_name: superplugin-lookup
    image: ghcr.io/spr-networks/super_plugin-lookup:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: plugin-lookup
      labels: *default-labels
    network_mode: service:base
    logging: *default-logging
    depends_on:
      - "base"
      - "dns"
    volumes:
      - ${PWD}/state/plugins/plugin-lookup/:/state/plugins/plugin-lookup/
  db:
    container_name: superdb
    image: ghcr.io/spr-networks/super_db:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    build:
      context: db
      labels: *default-labels
      x-bake:
        tags:
        - ghcr.io/spr-networks/super_db:latest${RELEASE_CHANNEL:-}
        - ghcr.io/spr-networks/super_db:${RELEASE_VERSION:-latest}${RELEASE_CHANNEL:-}
    network_mode: service:base
    depends_on:
      - "api"
    logging: *default-logging
    volumes:
      - ${PWD}/configs/base/:/configs/base/:ro
      - ${PWD}/configs/db/:/configs/db/
      - ${PWD}/state/api/:/state/api
      - ${PWD}/state/plugins/db/:/state/plugins/db/
