version: '3.4'
services:
  base:
    container_name: superbase
    image: ghcr.io/spr-networks/super_base
    network_mode: host
    privileged: true
    logging: 
      driver: journald
    volumes:
      - ./configs/base/:/configs/base/
  dhcp:
    container_name: superdhcp
    image: ghcr.io/spr-networks/super_dhcp
    network_mode: host
    privileged: true
    depends_on:
      - "base"
    logging: 
      driver: journald
    volumes:
      - ./configs/base/:/configs/base/
      - ./configs/dhcp/:/configs/dhcp/
      - ./configs/zones/:/configs/zones/
      - ./state/dhcp/:/state/dhcp/
      - /sys/fs/bpf:/sys/fs/bpf
  dhcp_client:
    container_name: superdhcp_client
    image: ghcr.io/spr-networks/super_dhcp_client
    network_mode: host
    privileged: true
    depends_on:
      - "base"
    logging: 
      driver: journald
    entrypoint: /scripts/client.sh
    volumes:
      - ./configs/base/:/configs/base/
  dns:
    container_name: superdns
    image: ghcr.io/spr-networks/super_dns
    network_mode: host
    privileged: true
    logging: 
      driver: journald
    depends_on:
      - "base"
    volumes:
      - ./configs/base/:/configs/base/
      - ./configs/dns/:/configs/dns/
      - ./state/dns/:/state/dns/
  wifid:
    container_name: superwifid
    image: ghcr.io/spr-networks/super_wifid
    network_mode: host
    privileged: true
    logging: 
      driver: journald
    depends_on:
      - "dhcp"
      - "dns"
      - "multicast_udp_proxy"
    volumes:
      - ./configs/base/:/configs/base/
      - ./configs/wifi/:/configs/wifi/
      - ./state/wifi/:/state/wifi/
  multicast_udp_proxy:
    container_name: super_multicast_udp_proxy
    image: ghcr.io/spr-networks/super_multicast_udp_proxy
    network_mode: host
    privileged: true
    depends_on:
      - "base"
    logging: 
      driver: journald
    volumes:
      - ./configs/base/:/configs/base/
  ppp:
    container_name: superppp
    image: ghcr.io/spr-networks/super_ppp
    network_mode: host
    privileged: true
    depends_on:
      - "base"
    logging:
      driver: journald
    volumes:
      - ./configs/base/:/configs/base/
      - ./configs/ppp/:/etc/ppp/
  watchdog:
    container_name: superwatchdog
    image: ghcr.io/spr-networks/super_watchdog
    network_mode: host
    depends_on:
      - "base"
      - "wifid"
    logging:
      driver: journald
    volumes:
      - ./configs/base/:/configs/base/
      - ./configs/watchdog/:/configs/watchdog/
    devices:
      - "/dev/watchdog:/dev/watchdog"
  wireguard:
    container_name: superwireguard
    image: ghcr.io/spr-networks/super_wireguard
    network_mode: host
    privileged: true
    depends_on:
      - "base"
    logging:
      driver: journald
    volumes:
      - ./configs/base/:/configs/base/
      - ./configs/wireguard/:/configs/wireguard/
  frontend:
    container_name: superfrontend
    network_mode: none
    image: ghcr.io/spr-networks/super_frontend
    entrypoint: ["cp", "-RT", "/build/", "/frontend/build"]
    volumes:
    - ./frontend/:/frontend
  api:
    container_name: superapi
    image: ghcr.io/spr-networks/super_api
    network_mode: host
    privileged: true
    restart: always
    depends_on:
      - "base"
      - "wifid"
      - "dhcp"
      - "frontend"
    logging:
      driver: journald
    volumes:
      - ./configs/base/:/configs/base/
      - ./configs/zones/:/configs/zones/
      - ./configs/wifi/:/configs/wifi/
      - ./configs/scripts/:/configs/scripts/
      - ./state/wifi/:/state/wifi/
      - ./state/dhcp/:/state/dhcp/
      - ./state/api/:/state/api/
      - ./state/dns/:/state/dns/
      - ./frontend/build:/ui/
networks: 
  default:
    driver: none
