name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Build arm64 test containers
        run: |
          cp -R base/template_configs configs
          cp base/template_configs/wifi/psks.json configs/wifi/
          ./build_docker_compose.sh
      -
        name: Authenticate to ghcr
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      -
        name: Push images
        run: |
          docker tag super_api ghcr.io/spr-networks/super_api:latest
          docker push ghcr.io/spr-networks/super_api:latest
          docker tag super_base ghcr.io/spr-networks/super_base:latest
          docker push ghcr.io/spr-networks/super_base:latest
          docker tag super_dhcp ghcr.io/spr-networks/super_dhcp:latest
          docker push ghcr.io/spr-networks/super_dhcp:latest
          docker tag super_dhcp_client ghcr.io/spr-networks/super_dhcp_client:latest
          docker push ghcr.io/spr-networks/super_dhcp_client:latest
          docker tag super_dns ghcr.io/spr-networks/super_dns:latest
          docker push ghcr.io/spr-networks/super_dns:latest
          docker tag super_wifid ghcr.io/spr-networks/super_wifid:latest
          docker push ghcr.io/spr-networks/super_wifid:latest
          docker tag super_multicast_udp_proxy ghcr.io/spr-networks/super_multicast_udp_proxy:latest
          docker push ghcr.io/spr-networks/super_multicast_udp_proxy:latest
          docker tag super_ppp ghcr.io/spr-networks/super_ppp:latest
          docker push ghcr.io/spr-networks/super_ppp:latest
          docker tag super_watchdog ghcr.io/spr-networks/super_watchdog:latest
          docker push ghcr.io/spr-networks/super_watchdog:latest
          docker tag super_wireguard ghcr.io/spr-networks/super_wireguard:latest
          docker push ghcr.io/spr-networks/super_wireguard:latest
          
