name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Authenticate to ghcr
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      -
        name: Build and push frontend
        run: |
          docker buildx build frontend -t frontend --output=type=docker
          mkdir frontend/output
          docker cp $(docker create --rm frontend):/app/build frontend/output/build/
          docker buildx build -f frontend/Dockerfile-helper frontend --platform linux/amd64,linud/arm64 -t ghcr.io/spr-networks/super_frontend:latest --push 
      -
        name: Build arm64 test containers
        run: |
          cp -R base/template_configs configs
          cp base/template_configs/wifi/psks.json configs/wifi/
          export DOCKER_DEFAULT_PLATFORM=linux/arm64          
          ./build_docker_compose.sh
      -
        name: Push images
        env: 
          CONTAINERS: api base dhcp dhcp_client dns multicast_udp_proxy ppp wifid wireguard
        run: |
          for C in $CONTAINERS; do
            docker tag super_${C} ghcr.io/spr-networks/super_${C}:latest
            docker push ghcr.io/spr-networks/super_${C}:latest
          done
