name: Docker Image CI

#on: [ push, pull_request ]
on:
  workflow_run:
    workflows: ["Bump version"]
    types:
      - completed
    branches:
      - main
      - dev

jobs:
  build-images:
    name: Build images
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      -
        name: Get version from git
        run: echo "RELEASE_VERSION=$(git describe --tags --abbrev=0 | grep -Eo '[0-9]+\.[0-9]+.[0-9]+')" >> $GITHUB_ENV
      -
        name: Set release channel for dev
        run: echo "RELEASE_CHANNEL=dev" >> $GITHUB_ENV
        if: ${{ github.ref_name == 'dev' }}"
      -
        name: Test release tag version and channel
        run: echo "RELEASE_VERSION == $RELEASE_VERSION  CHANNEL == $RELEASE_CHANNEL"
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Authenticate to ghcr
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      -
        name: Build and push status
        run: echo "event = ${{ github.event_name }}, ref_name = ${{ github.ref_name }}. push main == push to ghcr"
      -
        name: Build and push containers
        run: |
          cp -R base/template_configs configs
          ./build_docker_compose.sh \
            --set "*.platform=linux/amd64,linux/arm64" \
            `[[ "${{ github.event_name }}" = "workflow_run" && ("${{ github.ref_name }}" = "main" || ( ! -z $RELEASE_CHANNEL ) ) ]] && echo "--push"` || exit 1
      - name: Get images from docker-compose.yml
        id: get-images
        uses: mikefarah/yq@master
        with:
          cmd: yq -o json -I 0 '[.services|.[]|.image]' docker-compose.yml | sed 's/:[^"]*//g'

      - name: Set Matrix output
        id: set-matrix
        run: |
          echo '::set-output name=matrix::${{ steps.get-images.outputs.result }}'

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  sbom:
    name: Generate SBOMs
    needs: build-images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ${{ fromJson(needs.build-images.outputs.matrix) }}
    steps:
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          image: '${{ matrix.image }}'

