name: Docker Image CI

#on: [ push, pull_request ]
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]
  workflow_run:
    workflows: ["Bump version"]
    types:
      - completed
    branches: [ main ]

jobs:
  build-images:
    name: Build images
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Authenticate to ghcr
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      -
        name: Build and push containers
        run: |
          cp -R base/template_configs configs
          ./build_docker_compose.sh \
            --set "*.platform=linux/amd64,linux/arm64" \
            `[ "${{ github.event_name }}" = "push" -a "${{ github.ref_name }}" = "main" ] && echo "--push"`
      - name: Get images from docker-compose.yml
        id: get-images
        uses: mikefarah/yq@master
        with:
          cmd: yq -o json -I 0 '[.services|.[]|.image]' docker-compose.yml

      - name: Set Matrix output
        id: set-matrix
        run: |
          echo '::set-output name=matrix::${{ steps.get-images.outputs.result }}'

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  sbom:
    name: Generate SBOMs
    needs: build-images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ${{ fromJson(needs.build-images.outputs.matrix) }}
    steps:
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          image: '${{ matrix.image }}'
